
.heading {
    background: url(src/assets/images/heading-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .heading h3 {
    font-size: 3.5rem;
    color: #302851;
  }
  
  .heading p {
    font-size: 1.6rem;
    color: #666;
    padding-top: .5rem;
  }
  
  .heading p a {
    padding-right: .5rem;
    color: #fa1d86;
  }
  
  .heading p a:hover {
    color: #224bcf;
  }
  
  