

  .signin .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
    width: 500px;
    
  }
  
  .signin .row form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    border-radius: 1rem;
    background: #f5f5f5;
    padding: 2rem;
  }
  
  .signin .row form h3 {
    font-size: 3rem;
    color: #302851;
    margin-bottom: .5rem;
  }
  
  .signin .row form .box, .signin .row form textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #666;
    text-transform: none;
    margin: 1rem 0;
    border-radius: .5rem;
    background: #fff;
  }
  
