<app-heading></app-heading>
<div class="about">
    <div class="image">
        <img src="assets/images/about-img.png" alt="">
    </div>

    <div class="content">
        <h3>I will stay with you until you pass your exam.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus, accusantium culpa minus, qui non consectetur harum iusto blanditiis a, officia veniam.
             Accusamus quasi earum, nulla cum adipisci voluptatibus corrupti.</p>
             <a href="#" class="btn">learn more</a>
    </div>
</div>
