
.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 9%;
  }
  
  .about .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 4rem;
            flex: 1 1 4rem;
  }
  
  .about .image img {
    width: 100%;
  }
  
  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 41rem;
            flex: 1 1 41rem;
  }
  
  .about .content h3 {
    color: #302851;
    font-size: 4.5rem;
  }
  
  .about .content p {
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #666;
    line-height: 2.5;
  }
  