<section class="heading">
    <h3>Nous Contacter</h3>
    <p><a routerLink="/home">home >></a> contacter</p>
</section>

<section class="contact">
<div class="icons-container">
    <div class="icons">
        <i class="fas fa-phone"></i>
        <h3>notre téléphone</h3>
        <p>+237 670 167 153</p>
        <p>+237 655 333 839</p>
    </div>

    <div class="icons">
        <i class="fas fa-envelope"></i>
        <h3>notre email</h3>
        <p>tibautngoune@gmail.com</p>
        <p>chadonettzt@gmail.com</p>
    </div>

    <div class="icons">
        <i class="fas fa-map-marker-alt"></i>
        <h3>notre  address</h3>
        <p> douala, cameroon - 56420</p>
         </div>
</div>

<div class="row">
    <form action="">
        <h3>entrer en contact</h3>
        <input type="text" name="" id="" placeholder="your name" class="box">
        <input type="number" name="" placeholder="your number"  id="" class="box">
        <input type="email" class="box" placeholder="your email" name="" id="">
        <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Send message" class="btn">
    </form>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.1074287269475!2d9.765115314089524!3d3.998331048461919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x106172d87cfd2939%3A0x7b7c17e851c9c7b1!2sTradex%20Village%2C%20Douala!5e0!3m2!1sfr!2scm!4v1636822158675!5m2!1sfr!2scm"
     allowfullscreen="" loading="lazy"></iframe>
</div>
</section>
