<section class="heading">
    <h3>about us</h3>
    <p><a routerLink="/home">home >></a> Course 3</p>
</section>


<section class="course-3">
    <div class="box">
        <div class="video">
            <i class="fas fa-play"></i>
            <video src="assets/images/course-vid-1.mp4"></video>
        </div>
        <div class="content">
            <h3>introduction to design</h3>
            <p>by john deo</p>
        </div>
    </div>

    <div class="box">
        <div class="video">
            <i class="fas fa-play"></i>
            <video src="assets/images/course-vid-2.mp4"></video>
        </div>
        <div class="content">
            <h3>introduction to design</h3>
            <p>by john deo</p>
        </div>
    </div>

    <div class="box">
        <div class="video">
            <i class="fas fa-play"></i>
            <video src="assets/images/course-vid-3.mp4"></video>
        </div>
        <div class="content">
            <h3>introduction to design</h3>
            <p>by john deo</p>
        </div>
    </div>

    <div class="box">
        <div class="video">
            <i class="fas fa-play"></i>
            <video src="assets/images/course-vid-4.mp4"></video>
        </div>
        <div class="content">
            <h3>introduction to design</h3>
            <p>by john deo</p>
        </div>
    </div>

    <div class="box">
        <div class="video">
            <i class="fas fa-play"></i>
            <video src="assets/images/course-vid-5.mp4"></video>
        </div>
        <div class="content">
            <h3>introduction to design</h3>
            <p>by john deo</p>
        </div>
    </div>

    <div class="box">
        <div class="video">
            <i class="fas fa-play"></i>
            <video src="assets/images/course-vid-6.mp4"></video>
        </div>
        <div class="content">
            <h3>introduction to design</h3>
            <p>by john deo</p>
        </div>
    </div>
</section>

<div class="main-video">
    <div id="close-vid" class="fas fa-times"></div>
    <video src="" autoplay controls muted></video>
</div>

