<section class="heading">
    <h3>about us</h3>
    <p><a routerLink="/home">home >></a> Course 2</p>
</section>
<section class="course-2">
    <div class="box">
        <div class="image">
            <img src="assets/images/main-course-1.png" alt="">
        </div>
        <div class="content">
            <span>business</span>
            <h3>learning is what makes you perfect</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Aspernatur, quos.</p>
                 <a href="#" class="btn">read more</a>
                 <div class="icons">
                     <a href="#"><i class="fas fa-book"></i> 12 modules</a>
                     <a href="#"><i class="fas fa-clock"></i> 6 hours</a>
                 </div>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="assets/images/main-course-2.png" alt="">
        </div>
        <div class="content">
            <span>language</span>
            <h3>learning is what makes you perfect</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Aspernatur, quos.</p>
                 <a href="#" class="btn">read more</a>
                 <div class="icons">
                     <a href="#"><i class="fas fa-book"></i> 12 modules</a>
                     <a href="#"><i class="fas fa-clock"></i> 6 hours</a>
                 </div>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="assets/images/main-course-3.png" alt="">
        </div>
        <div class="content">
            <span>development</span>
            <h3>learning is what makes you perfect</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Aspernatur, quos.</p>
                 <a href="#" class="btn">read more</a>
                 <div class="icons">
                     <a href="#"><i class="fas fa-book"></i> 12 modules</a>
                     <a href="#"><i class="fas fa-clock"></i> 6 hours</a>
                 </div>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="assets/images/main-course-4.png" alt="">
        </div>
        <div class="content">
            <span>teaching</span>
            <h3>learning is what makes you perfect</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Aspernatur, quos.</p>
                 <a href="#" class="btn">read more</a>
                 <div class="icons">
                     <a href="#"><i class="fas fa-book"></i> 12 modules</a>
                     <a href="#"><i class="fas fa-clock"></i> 6 hours</a>
                 </div>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="assets/images/main-course-5.png" alt="">
        </div>
        <div class="content">
            <span>designing</span>
            <h3>learning is what makes you perfect</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Aspernatur, quos.</p>
                 <a href="#" class="btn">read more</a>
                 <div class="icons">
                     <a href="#"><i class="fas fa-book"></i> 12 modules</a>
                     <a href="#"><i class="fas fa-clock"></i> 6 hours</a>
                 </div>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="assets/images/main-course-6.png" alt="">
        </div>
        <div class="content">
            <span>speaking</span>
            <h3>learning is what makes you perfect</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Aspernatur, quos.</p>
                 <a href="#" class="btn">read more</a>
                 <div class="icons">
                     <a href="#"><i class="fas fa-book"></i> 12 modules</a>
                     <a href="#"><i class="fas fa-clock"></i> 6 hours</a>
                 </div>
        </div>
    </div>
</section>

