<section class="heading">
    <h3>our teachers</h3>
    <p><a routerLink="home.html">home >></a> teachers</p>
</section>

<section class="teachers">
<div class="box">
    <div class="image">
        <img src="assets/images/teacher-1.png" alt="">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="content">
        <h3>john doe</h3>
        <span>web designer</span>
    </div>
</div>
<div class="box">
    <div class="image">
        <img src="assets/images/teacher-2.png" alt="">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="content">
        <h3>john doe</h3>
        <span>web designer</span>
    </div>
</div>

<div class="box">
    <div class="image">
        <img src="assets/images/teacher-3.png" alt="">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="content">
        <h3>john doe</h3>
        <span>web designer</span>
    </div>
</div>

<div class="box">
    <div class="image">
        <img src="assets/images/teacher-4.png" alt="">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="content">
        <h3>john doe</h3>
        <span>web designer</span>
    </div>
</div>

<div class="box">
    <div class="image">
        <img src="assets/images/teacher-5.png" alt="">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="content">
        <h3>john doe</h3>
        <span>web designer</span>
    </div>
</div>

<div class="box">
    <div class="image">
        <img src="assets/images/teacher-6.png" alt="">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="content">
        <h3>john doe</h3>
        <span>web designer</span>
    </div>
</div>

<div class="box">
    <div class="image">
        <img src="assets/images/teacher-7.png" alt="">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="content">
        <h3>john doe</h3>
        <span>web designer</span>
    </div>
</div>
<div class="box">
    <div class="image">
        <img src="assets/images/teacher-8.png" alt="">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="content">
        <h3>john doe</h3>
        <span>web designer</span>
    </div>
</div>
</section>

