 <!-- home sectiion satrts -->
 <section class="home">
    <div class="image">
        <img src="assets/images/home-img.png" alt="">
    </div>
    <div class="content">
        <h3>your course to success</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis mollitia 
            voluptate magnam porro nobis 
            obcaecati odit ratione quod numquam cum?</p>
            <a href="#" class="btn"> get started</a>
    </div>
</section>



<!-- categories section  -->

<section class="category">
   <a href="#" class="box">
       <img src="assets/images/category-1.png" alt="">
       <h3>computer science</h3>
   </a>
   <a href="#" class="box">
       <img src="assets/images/category-2.png" alt="">
       <h3>biology & life</h3>
   </a>
   <a href="#" class="box">
       <img src="assets/images/category-3.png" alt="">
       <h3>business analysis</h3>
   </a>
   <a href="#" class="box">
       <img src="assets/images/category-4.png" alt="">
       <h3>social science</h3>
   </a>
   <a href="#" class="box">
       <img src="assets/images/category-5.png" alt="">
       <h3>data analysis</h3>
   </a>
</section>


